

*{
	box-sizing:border-box;
}
.accordion{
	 width: 100%;
	 margin: 140px auto;
	 
	 }
.title{
	width: 500px;
	margin:auto;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	border: 1px solid #4b5d4b;
	background: #bce4bc;
}
.title:hover{
	background: #63da63;
}
.para{
	max-height: 0px;
	overflow-y: hidden;
	width: 500px;
	margin: auto;
	border: 1px solid #4b5d4b;
	transition: max-height 1s; 
	

}
.open .para{
max-height: 500px;
transition: max-height 3s; 
	
}


